/* For computer */
@media only screen and (min-width: 992px) {
	/* I need to put icons, and landing page font size in here */
	#intro h1{
		margin-top: 0;
		font-size: 4rem;
	}
	#linkIcons i{
		position: relative;
		font-size: 3rem;
	}
	#thingSection .row.projectItem{
		margin-bottom: 1rem;;
	}
}
/* for mobile screens */
@media only screen and (max-width: 992px) {
	/* I need to put icons, and landing page font size in here */
	#intro h1{
		margin-top: 0;
		font-size: 2rem;
	}
	#linkIcons i{
		position: relative;
		font-size: 1rem;
	}
	#thingSection .row.projectItem{
		margin-bottom: .5rem;;
	}
} 

body{
	background: linear-gradient(90deg, rgba(1,1,69,1) 0%, rgba(2,72,87,1) 71%);
}
h1, h2, h3{
	font-family: 'Helvetica';
	color: white;
}
/* got this from the internet, possibly usable for landing page? */
/* header
{
 height: 100vh;
 background-image: url(enter your photo url here!);

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; background-size: cover; 
 margin-bottom: 30px;
} */
.landing{
	height: 100vh;
	margin-bottom: 0;
}
#intro{
	padding-top: 30%;
}

#webdevwow {
	/* background: linear-gradient(90deg, rgba(246,148,20,1) 0%, rgba(245,184,26,1) 71%); */
	/* background: rgba(0, 0, 0, .2); */
	font-size: 2rem;
	margin-top: 0;
}

#intro h3{
	margin-top: 40px;
	margin-bottom: 0;
}

#contactSection, #thingsSection{
	height: 100vh;
}

.ui.divider {
	margin: 4.0rem 0;
}

#linkIcons div{
	display: flex;
	/* text-align: center; */
	align-items: center;
	justify-content: center;
}
#linkIcons .iconButton{
	width: 100%;
	padding-bottom: 50%;
	background: chartreuse;
	border-radius: 50%;
}
/* #linkIcons .iconButton:hover{
	box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.7);
} */

.row.projectItem{
	background: rgba(0, 0, 0, .2);
	color: white;
	text-align: center;
	/* height: 100%; */
}

